html {
    color-scheme: dark;
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    scrollbar-color: rgb(62, 65, 68) rgb(22, 24, 28);
}

.post-container {
    max-width: 600px;
    width: 100%;
    margin: auto;
    border-left: 1px;
    border-right: 1px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.username {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color-scheme: dark;
    scrollbar-color: rgb(62, 65, 68) rgb(22, 24, 28);
    pointer-events: auto;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.00);
    border: 0 solid black;
    box-sizing: border-box;
    color: inherit;
    display: inline;
    font: inherit;
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    white-space: inherit;
    text-align: inherit;
    min-width: 0px;
    font-family: inherit;
    word-wrap: break-word;
    font-family: 'TwitterChirp';
    font-weight: 700;
}

.handle, .date {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color-scheme: dark;
    scrollbar-color: rgb(62, 65, 68) rgb(22, 24, 28);
    pointer-events: auto;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.00);
    border: 0 solid black;
    box-sizing: border-box;
    color: rgb(113, 118, 123);
    display: inline;
    font: inherit;
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    white-space: inherit;
    text-align: inherit;
    min-width: 0px;
    font-family: inherit;
    word-wrap: break-word;
    font-family: 'TwitterChirp';
}

.text {
    border: none;
    background-color: #000;
    color: rgb(231, 233, 234);
    width: 100%;
    font-family: 'TwitterChirp';
    font-weight: 400;
}

article {
    padding: 0 16px 0 16px;
}

.post-content
{
    width: 100%;
    padding-top: 12px;
    display: grid;
    grid-template-columns: 48px 1fr;
}

.pfp-container {
    width: 40px;
    height: 100%;
    margin-right: 8px;
}

.pfp {
    border-radius: 50%;
    width: 100%;
    box-shadow: rgba(255, 255, 255, 0.03) 0px 0px 2px inset;
}

.media img {
    margin-top: 12px;
    border-radius: 16px;
    max-width: 420px;
    max-height: 420px;
}

.user-info {
    margin-bottom: 2px;
}